body {
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-transparent {
    /*padding-top: 15px;*/
    background-color: rgba(0, 0, 0, .0);
}
@media (max-width: 767.98px) {
	.navbar-transparent {
	    /*padding-top: 15px;*/
	    background-color: rgba(0, 0, 0, .6);
	}
}
.brand {
	max-width: 18rem;
	max-height: 4rem;
}
@media (max-width: 767.98px) {
	.brand {
		max-width: 9rem;
		max-height: 2rem;
	}
}
.logo {
	font-family: 'Berkshire Swash', cursive;
}